*{
    margin:0;
    padding:0;

}
body{
    height:100%;
    width:100%;
    background-image:url("depositphotos_88671260-stock-photo-close-up-of-home-made.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
}

.navbar{
    height:10vh;
    width:100vw;
    font-size: 70px;
    background-color:red;
    color:antiquewhite; 
    display:flex;
    justify-content: center;
    text-align:center;
    align-items: center;
    animation: para 2s ease-in;
    color: black;
}
.navbar:hover{
    background-color: black;
    color: antiquewhite;
    
}
@keyframes para {
    from {font-size: 30px;}
    to {font-size: 70px;}
  }



.container{
  height:94vh;
  width: 100vw;

    


}
.btn{
    display:flex;
    justify-content:space-evenly;
    text-align:center;;
    align-items:center;
    margin-top: 3rem;
    height:30px;
    width:60vh;
    padding-right: 2px;
}
 button{
    background-color: black;
    color: azure;
    border: none;
    border-radius: 5px;
    padding: 10px;
 
}
button:hover{
    background-color:yellow;
    color: black;
}
h1{
   font-size:5vh;
}
.boxes{
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
align-items:center;
gap: 6vh;
position: relative;
flex-direction:row;
}
.box1:hover{
   border-radius:50%;
   border:15px white solid;
   border-color: bisque;
    color: black;
}
.box2:hover{
    border-radius:50%;
    border:15px white solid;
    border-color: bisque;
     color: black;
 }
 .box3:hover{
    border-radius:50%;
    border:15px white solid;
    border-color: bisque;
     color: black;
 }
 .box4:hover{
    border-radius:50%;
    border:15px white solid;
    border-color: bisque;
     color: black;
 }
 .box5:hover{
    border-radius:50%;
    border:15px white solid;
    border-color: bisque;
     color: black;
 }
 .box6:hover{
    border-radius:50%;
    border:15px white solid;
    border-color: bisque;
     color: black;
 }
 .box7:hover{
    border-radius:50%;
    border:15px white solid;
    border-color: bisque;
     color: black;
 }
 .box8:hover{
    border-radius:50%;
    border:15px white solid;
    border-color: bisque;
     color: black;
 }

.box1{
    height: 150px;
    width: 150px;
    margin-top: 29px;
    border-radius:15px 0px;
    background-color:grey;
    background-image:url("istockphoto-666845086-612x612.jpg");
    background-size: cover;
    background-position-x:-3.5rem;
   
}
.box2{ 
    height: 150px;
    width: 150px;
    border-radius:15px 0px;
    margin-top: 29px;
    background-color: aqua;
    background-image:url("pexels-valeria-boltneva-1893555.jpg");
    background-size: cover;
    background-position-x:-3.5rem;


}
.box4{
    height: 150px;
    width: 150px;
    border-radius:15px 0px;
    margin-top: 29px;
    background-color: aqua;
    background-image:url("Prawn-harissa-spaghetti--b3b0fdd.jpg");
    background-size: cover;
    background-position-x:-1rem;
   


}
.box3{
    height: 150px;
    width: 150px;
    border-radius:15px 0px;
    margin-top: 29px;
    background-color: aqua;
    background-image:url("360_F_616164850_Y7kXVCVxB4o9mIRmanSjFjyzQXSkQt26.jpg");
    background-size: cover;
    background-repeat: no-repeat;


}
.box5{
    height: 150px;
    width: 150px;
    margin-top: 29px;
    border-radius:15px 0px;
    background-color:grey;
    background-image:url("1603283745-biriyani\ 1.jpg");
    background-size: cover;


}
.box6{ 
    height: 150px;
    width: 150px;
    border-radius:15px 0px;
    margin-top: 29px;
    background-color: aqua;
    background-image:url("istockphoto-1349560847-612x612.jpg");
    background-size: cover;
    


}
.box7{
    height: 150px;
    width: 150px;
    border-radius:15px 0px;
    margin-top: 29px;
    background-color: aqua;
    background-image:url("images\ \(1\).jpeg");
    background-size: cover;
    background-position-x:-1.5rem;


}
.box8{
    height: 150px;
    width: 150px;
    border-radius:15px 0px;
    margin-top: 29px;
    background-color: aqua;
    background-image:url("depositphotos_20112143-stock-photo-indian-food.jpg");
    background-size: cover;
    background-position-x:-3.5rem;


}
.order{
    height: 10rem;
    width:50vw;
   margin-left:16vw ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -15vh;
    border-radius: 3vh ;
    font-size: 3vh;
   
   
    
}


footer{
    height: 50px;
    background-color: black;
    color: azure;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:relative ;
    bottom: 0vh;
}